/* flex */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}


/* list */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* color */

.red{
    color: red;
}

.green{
    color: green;
}