.book-dets{
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 70%;
    height: 70%; */
    background-color: var(--clr1);
    color: var(--clrText);
    border: 1px solid var(--clrText);
    border-radius: 10px;
    gap: 10%;
}

.book-dets .img-container{
    flex-basis: 30%;
    max-width: 250px;
}

.book-info{
    font-size: 1.25rem;
    margin: 0 2px;
    flex-basis: 60%;
    max-width: 400px;
}

.book-info > *{
    margin-top: 1rem;
}

.book-info .book-title{
    font-weight: bold;
    font-size: 1.5rem;
}

.book-info .book-subtitle{
    border-bottom: 1px solid var(--clr4);
}

/* unique list */
.unique-list{
    text-transform: uppercase;
    color: var(--clrGreen);
}

.icons{
    width: 18px !important
}

/* long text */
.long-text-link{
    color: var(--clrLink);
}

.long-text-link:hover{
    text-decoration: underline;
}

/* reviews */

.img-container .user-img{
    border-radius: 50%;
}

.review-info .writer-name{
    font-weight: bold;
    font-size: 1.25rem;
}

.review-info .read-at{
    color: var(--clr4)
}