.review-modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 70%;
  height: 70%;
  background-color: var(--clr2);
  margin: 0;
}

.add-book-modal-container {
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 60%;
  height: 60%;
  background-color: var(--clr2);
  margin: 0;
}

.add-book-modal{
    margin: 10px;
}

.search-google-nav{
    padding-bottom: 10px;
}

.book-options {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.book-option {
  padding-left: 2em;
  text-indent: -1em;
}

.book-option:before {
  content: '📖';
  padding-right: 5px;
}
