.user-msg{
    width: fit-content;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 10;
}

.user-msg.success{
    color: var(--clrGreenNav);
}

.user-msg.error{
    color: var(--clrRed);
}

.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--clrBlack);
  }
  
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(0, -1px, 0);
    }
  
    20%,
    80% {
      transform: translate3d(0, 2px, 0);
    }
  
    30%,
    50%,
    70% {
      transform: translate3d(0, -4px, 0);
    }
  
    40%,
    60% {
      transform: translate3d(0, 4px, 0);
    }
  }