:root {
    --clr1: #e6e2d3;
    --clr2: #c4b7a6;
    --clr3: #dac292;
    --clr4: #b9936c;
    --clrGreen: #9fe0b3;
    --clrGreenNav: #4caf50;;
    --clrRed: #f06969;;
    --clrBlack: #000000;;
    --clrLink: #1a0dab;;
}